@import 'shared';
.remove-button {
  display: inline-block;
  opacity: 1 !important;
  margin: 0 !important;
  margin-top: -4px !important;
  width: 14px !important;
  color: mat-color($app-danger, 500) !important;
  &.mr-2 {
    margin-right: 8px !important;
  }
  &.ml-2 {
    margin-left: 8px !important;
  }
}

.form-container {
  background: #ffffff;
  padding: 30px;
  max-width: 710px;
  margin: 0 auto 30px;
  border-radius: 7px;
  box-shadow: 0 1px 10px #ddd;
}

h4 {
  border-right: 3px solid #2196f3;
  margin: 30px -30px 10px 0;
  padding-right: 15px;
  font-size: 18px;
  color: #1565c0;
  &:first-child {
    margin-top: 10px;
  }
}

.description-input {
  background: #f9f9f9 !important;
  padding: 15px !important;
}
