<main class="rtl">
  <div class="container">
    <section class="username-wrapper row no-gutters justify-content-center flex-nowrap">
      <div class="username-container col">
        <form *ngIf="!hasUsername" (submit)="onUsernameSubmit()">
          <div class="row no-gutters">
            <div class="col">
              <input class="username-input" type="text" [formControl]="username" placeholder="نام کاربری">
            </div>
            <div class="col-auto">
              <button class="h-100 mr-3" mat-flat-button color="primary" type="submit">ورود</button>
            </div>
          </div>
        </form>
        <div *ngIf="hasUsername" class="row align-items-center no-gutters">
          <div class="col rtl-text">
            شما با ایمیل
            <span>{{username.value}}</span>
            وارد شده‌اید
          </div>

          <div class="col-auto">
            <button mat-button color="primary" (click)="goHome()">خانه</button>
          </div>
          <div class="col-auto">
            <button mat-button color="warn" (click)="logout()">خروج</button>
          </div>
        </div>
      </div>
      <div *ngIf="hasUsername" class="col-auto">
        <button class="create-poll-button h-100 mr-2" mat-raised-button color="accent" type="button" (click)="onClickCreatePoll()">
          ایجاد<br>نظرسنجی</button>
      </div>
    </section>
    <ng-container *ngIf="hasUsername">
      <router-outlet></router-outlet>
    </ng-container>
  </div>
</main>