<div #pollLoader="loader" loader>
  <div class="poll-item">
    <h3>{{poll?.title}}</h3>
    <p>{{poll?.description}}</p>
  </div>
  <div *ngIf="!isCreator">
    <mat-checkbox class="poll-option" *ngFor="let o of poll.options; trackBy:trackByFnOptions" [(ngModel)]="o.checked">
      <div class="row no-gutters">
        <span class="col">{{o.name}}</span>
        <span class="col-auto option-count">{{o.count}} رای</span>
      </div>
    </mat-checkbox>
  </div>
  <div *ngIf="isCreator">
    <mat-radio-group>
      <mat-radio-button class="poll-option" *ngFor="let o of poll.options; trackBy:trackByFnOptions" [value]="o.name">
        <div class="row no-gutters">
          <span class="col">{{o.name}}</span>
          <span class="col-auto option-count">{{o.count}} رای</span>
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="submit-container">
    <button #voteLoader="loader" loader="button" *ngIf="!isCreator" mat-raised-button color="accent" type="button"
            (click)="vote()">ثبت رای</button>
    <button #finalizeLoader="loader" loader="button" *ngIf="isCreator" mat-raised-button color="accent" type="button"
            (click)="finalize()">نهایی کردن</button>
  </div>
</div>