@import 'shared';
.poll-item {
  @extend .box-item;

  > h3 {
    font-size: 20px;
  }
  > p {
    margin-bottom: 0;
  }
}

.poll-option {
  display: block !important;
  max-width: 710px;
  margin: 0 auto;
  > .poll-option-vote-content {
    @extend .box-item;
  }
  > label {
    @extend .box-item;
    width: 100%;
    .mat-radio-label-content {
      width: 100%;
    }
  }
  &.mat-checkbox-checked,
  &.mat-radio-checked {
    > label {
      background: #f6fffe;
      color: #00695c;
      border-right: 4px solid #009688;
    }
  }
  .option-count {
    color: #999999;
    padding: 0 5px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background: #f4f4f4;
    }
    &.option-yes {
      color: #00a008;
    }
    &.option-maybe {
      color: #b88d00;
    }
    &.active-option {
      background: #f4f4f4;
      box-shadow: 0 1px 3px -1px;
    }
  }
  &.is-finalized {
    .option-count {
      color: #999999;
      padding: 0 5px;
      margin: 0 5px;
      cursor: default;
      border-radius: 4px;

      &:hover {
        background: transparent;
      }
      &.option-yes {
        color: #00a008;
      }
      &.option-maybe {
        color: #b88d00;
      }
      &.active-option {
        background: transparent;
        box-shadow: none;
      }
    }
  }
}

.submit-container {
  max-width: 710px;
  margin: 15px auto;
  text-align: left;
}

.final-option {
  background: #eeeeee;
  border-radius: 4px;
  padding: 2px 8px;
  margin-right: 8px;
}
