.poll-item {
  max-width: 710px;
  margin: 0 auto 7px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 10px #ddd;
  cursor: pointer;

  > h3 {
    font-size: 20px;
  }
  > p {
    margin-bottom: 0;
  }
}
