.ellipsis-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}
.rtl {
  direction: rtl !important;
}
.rtl-text {
  direction: rtl !important;
  text-align: right !important;
}
.ltr {
  direction: ltr !important;
}
.ltr-text {
  direction: ltr !important;
  text-align: left !important;
}
.rtl-placeholder::-webkit-input-placeholder {
  direction: rtl !important;
  text-align: right !important;
}
.rtl-placeholder::-moz-placeholder {
  direction: rtl !important;
  text-align: right !important;
}
.rtl-placeholder:-ms-input-placeholder {
  direction: rtl !important;
  text-align: right !important;
}
.rtl-placeholder:-moz-placeholder {
  direction: rtl !important;
  text-align: right !important;
}
.rtl-placeholder::placeholder {
  direction: rtl !important;
  text-align: right !important;
}

.eng-numbers {
  font-family: var(--font-family-eng-numbers);
}

.box-item {
  max-width: 710px;
  margin: 0 auto 7px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 10px #ddd;
}
