//libraries & shared
@import '~bootstrap/scss/bootstrap-reboot';
@import 'scss/shared/shared.scss';
$theme-colors: (
  'primary': mat-color($app-primary, 500),
  'secondary': mat-color($app-accent, 500),
  'danger': mat-color($app-danger, 500),
  'success': mat-color($app-success, 500)
);
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/tables';

// base
@import 'scss/animations.scss';
@import 'scss/general.scss';
@import 'scss/fonts.scss';

// general components
@import 'scss/materials.scss';
@import 'scss/loader.scss';
@import 'scss/dialogs.scss';

[class^='flaticon-']:before,
[class*=' flaticon-']:before,
[class^='flaticon-']:after,
[class*=' flaticon-']:after {
  font-size: inherit !important;
  margin-left: 0 !important;
}
